[submodule "src/widgets/color"]
	path = src/widgets/color
	url = git://github.com/mbasaglia/Qt-Color-Picker.git
	ignore=dirty
[submodule "src/widgets/toolbar_editor"]
	path = src/widgets/toolbar_editor
	url = https://github.com/mbasaglia/Qt-Toolbar-Editor
[submodule "src/widgets/tabwidget"]
	path = src/widgets/tabwidget
	url = https://github.com/mbasaglia/Qt-Extended-TabWidget.git
[submodule "src/widgets/history_line_edit"]
	path = src/widgets/history_line_edit
	url = https://github.com/mbasaglia/Qt-History-LineEdit.git
[submodule "src/widgets/keysequence_widget"]
	path = src/widgets/keysequence_widget
	url = git@github.com:mbasaglia/Qt-KeySequence-Widget.git
