[submodule "src/widgets/color"]
	path = src/widgets/color
	url = git://github.com/mbasaglia/Qt-Color-Picker.git
[submodule "src/widgets/toolbar_editor"]
	path = src/widgets/toolbar_editor
	url = https://github.com/mbasaglia/Qt-Toolbar-Editor
[submodule "src/widgets/tabwidget"]
	path = src/widgets/tabwidget
	url = https://github.com/mbasaglia/Qt-Extended-TabWidget.git
