[Desktop Entry]
Version=1.0
Type=Application
Name=Knotter
Comment=Interactive Celtic Knot Editor
Exec=knotter
TryExec=knotter
Icon=/usr/local/share/knotter/img/logo-big.svg
Terminal=false
Categories=Graphics;VectorGraphics;Qt;
