[Desktop Entry]
Version=1.0
Type=Application
Name=Knotter
Comment=Celtic knot editor
Exec=knotter
TryExec=knotter
Icon=/usr/share/knotter/img/knotter-logo-big.svg
Terminal=false
Categories=Graphics;VectorGraphics;Qt;
