body {
    background: white right bottom no-repeat fixed url("img/background.svg")
}


.figure, .informalfigure, .screenshot {
    border: 1px solid gray;
    margin: 1em;
    display: inline-block;
    padding: 1em;
    text-align: center;
}

.caption {
    border-top: 1px solid gray;
    margin-top: 1em;
    margin-bottom: 0;
}

.caption p {
    margin: 0;
}

.mediaobject {
    display: inline-block;
}

.variablelist dt {
    font-weight: bold;
}

/*.variablelist dt {
    float: left;
    font-weight: bold;
    width:30%;
    text-align:right;
}
.variablelist dt:after {
    content: " — ";
}
.variablelist dd {
    margin-left: 0;
    padding-left: 30%;
}
dd .variablelist dt {
    float: left;
    font-weight: bold;
    width:auto;
    text-align:right;
}
dd .variablelist dt:after {
    content: " — ";
}
dd .variablelist dd {
    margin-left: 0;
    padding-left: 0;
}*/


h1.title a{    
    vertical-align: middle;
    width:128px;
    height:128px;
    display: inline-block;
    background: url('img/logo_big.svg') no-repeat scroll center center transparent
}

.tip, .note, .warning {
    border: 1px solid gray;
    border-radius: 16px;
    padding: 1em 1em 1em 2em;
}
.tip .title, .note .title, .warning .title {
    margin:0 0 0.25em 0;
}
.tip p, .note p, .warning p {
    margin: 0 0 0 1em;
}

.action, .guimenuitem, .guibutton {
    font-style: oblique;
}

.answer p:first-child {
    display: list-item;
    margin: 0.25em;
}

.programlisting
{
    white-space: pre;
    border: 1px solid gray;
    padding: 1.5em;
    border-radius: 8px;
}